body {
    margin: 50px;
    padding: 50px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-image:url('../img/32582-full_download-wallpaper-1920x1080-bird-silhouette-vector.jpg');
}